
## User settings
xcuserdata/

## Xcode
.DS_Store
*.xcuserstate
*.xcuserdatad
*xcshareddata

## Carthage
Carthage
Cartfile.resolved

## Cocoapods
/Pods
xcdebugger/
Podfile.lock
/*.xcworkspace
build/
.build/

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
Packages/
Package.pins
Package.resolved
